*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(242,242,247);
    background: linear-gradient(110deg, rgba(242,242,247,1) 0%, rgba(122,155,215,1) 35%, rgba(0,212,255,1) 100%);
}
header, .main, footer{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
/* DEFINICION DEL MENU*/
header nav{
    background: rgb(64,45,157);
    background: linear-gradient(110deg, rgba(64,45,157,1) 0%, rgba(148,233,226,1) 100%);
    overflow: hidden;
    margin-bottom: 30px;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: #92E4E0;
    text-decoration: none;
}
header nav ul li a:hover{
    background:azure;
}
.main .articles {
    width: 68.5%;
    float: left;
    margin-right: 1.5%;
}
.main .articles article{
    padding: 20px;
    margin-bottom: 20px;
}
aside{
    width: 30%;
    float: left;
    box-sizing: border-box;
}
footer{
    background: rgb(64,45,157);
    background: linear-gradient(110deg, rgba(64,45,157,1) 0%, rgba(148,233,226,1) 100%);
    color: #92E4E0;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}
